@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-accent: var(--accent);
  --color-border: var(--border);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: "#151515";
  --accent: "#E5E7E0";
  --border: "#D0D1C9";
}

.dark {
  --border: "#4A4C52";
  --primary: "#EEEFE9";
  --accent: "#232429";
}
